<mat-card>
    <mat-card-title>Update User</mat-card-title>
    <mat-card-content style="padding-top: 20px ;">


<div *ngIf="dataLoaded">
    
<form [formGroup]="editUserForm" (submit)="updateUser()">

    <p>
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Placeholder" formControlName="username">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Placeholder" formControlName="email">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    
        </mat-form-field>
    </p>
    <p>
        <button mat-raised-button color="primary">Update User</button>
    </p>
</form>
</div>
</mat-card-content>
</mat-card>